/* Estilos para la tabla */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table th, .styled-table td {
    padding: 10px;
    border: 1px solid #f00707;
    text-align: left;
}

.styled-table th {
    background-color: #0b0ebd;
}

/* Estilos para la página */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    color:aqua;
}

h1 {
    color: #333;
}

p {
    color: #777;
}
